.p-bg{
width:100vw;
height:65vh;
background:#0A0C10;
flex-flow:column wrap;
color:white;
display:flex;
align-items:center;
text-align: center;
align-content:center;
margin-bottom:2px;
}


#p-animate{

 position:relative;
 min-height:57vh;
 animation-name:animate ;
  animation-delay: 2s;
  animation-duration:13.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.r-me{
margin-top:3rem
}
@keyframes animate{
0%{
background-image:url('../public/img/about.png');
background-size:100% 100%;
background-repeat:no-repeat;
}
50%{
background-image:url('../public/img/haopc.png');
background-size:100% 100%;
background-repeat:no-repeat;
}
100%{
background-image:url('../public/img/edrmpc.png');
background-size:100% 100%;
background-repeat:no-repeat;
}
}
